*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* color: bisque; */
    color: whitesmoke;
    box-sizing: border-box;
}

body{
    background-color: rgb(20, 19, 19);
}

header{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 43, 43);
    font-size: 30px;
}

main{
    height: 70vh;
    border: 2px solid salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_cont{
    height: 95%;
    width: 45%;
    border: 2px solid;
    display: flex;
    margin: 0 10px 0 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    border-radius: 10px;
}

.right_cont{
    height: 95%;
    width: 50%;
    margin: 0 0 0 10px;
    display: flex;
    border: 2px solid yellowgreen;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.timer{

    height: 100px;
    width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 2px solid blanchedalmond; */
    padding: 10px;
    margin: 0px;
    border-radius: 10px;

    font-size: 50px;
}

.btn-cont{
    /* border: 2px solid blanchedalmond; */
    display: flex;
    border-radius: 10px;
    /* background: linear-gradient(5deg, black, gray, white); */
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 31, 31);
    height: 15vh;
    font-size: 30px;
}

 .play , .pause{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin: 10px;
    border-radius: 10px;
 }


 .play:hover , .pause :hover{
    background-color: rgb(67, 65, 65);
 }

  .play:active , .pause :active{
    background-color: rgb(84, 82, 82);
 }

