*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: bisque;
}

body{
    background-color: rgb(19, 18, 18);
}

header{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 43, 43);
    font-size: 30px;
}

main{
    height: 70vh;
    border: 2px solid salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_cont{
    height: 95%;
    width: 35%;
    border: 2px solid;
    display: flex;
    margin: 0 10px 0 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}

.right_cont{
    height: 95%;
    width: 60%;
    margin: 0 0 0 10px;
    display: flex;
    border: 2px solid yellowgreen;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 31, 31);
    height: 15vh;
}

